/* icon font settings */
span[class*="icon-"] {
    font-family: 'icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*Default value*/
.icon {
    font-family: 'icons';
}

.icon-menu:before {
    content: "\e605";
}

.icon-arrow-up:before {
    content: "\e63c";
}

.icon-arrow-down:before {
    content: "\e63b";
}
