<header>
<nav class="navbar navbar-default navbar-static-top master-header" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->

        <div id="menu-logo" class="pull-left">
            <span class="icon-menu"></span>
        </div>

        <div class="navbar-header">
            <h1>
                <a id="header-title" class="master-brand-text navbar-brand" href="/">
                   {{ site.title }}
                </a>
            </h1>
        </div>
    </div>
    <div id="main-nav-bar-holder" class="row">

    </div>
</nav>
</header>
<div id="page-menu" class="closed">
    <ul class="nav navbar-stacked menu-header">
        <li><a href="#" class="no_hover"><span class="pull-right icon-arrow-down"></span><span class="icon-menu"></span>Blog</a></li>
    </ul>
    <ul class="nav navbar-stacked menu closed">
		<li><a href="https://lab.easistent.com" target="_blank">Labs</a></li>
        <li><a href="https://www.easistent.com" target="_blank">eAsistent</a></li>
        <li><a href="https://www.xooltime.com" target="_blank">Xooltime</a></li>
		<li><a href="https://vrtec.easistent.com" target="_blank">eAsistent for Kindergarten</a></li>
    </ul>
    <ul class="nav navbar-stacked submenu">
        <!-- <li><a href="#" class="title no_hover">Projects</a></li> -->
        <li><a href="/">Posts</a></li>
        <li><a href="/about.html">About</a></li>
		<li><a href="/archive.html">Archive</a></li>
    </ul>
</div>