<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    {{--Fonts (google)--}}
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700|Bree+Serif&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <link rel="shortcut icon" href="{{ "/assets/favicon.ico" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" type="text/css">
	<link rel="stylesheet" href="{{ "/css/menu.css" | prepend: site.baseurl }}" type="text/css">
	<link rel="stylesheet" href="{{ "/css/icons.css" | prepend: site.baseurl }}" type="text/css">

	<link rel="stylesheet" href="{{ "/css/ea_palette/backgrounds_ea.css" | prepend: site.baseurl }}" type="text/css">
	<link rel="stylesheet" href="{{ "/css/ea_palette/buttons_ea.css" | prepend: site.baseurl }}" type="text/css">
	<link rel="stylesheet" href="{{ "/css/ea_palette/font_colors_ea.css" | prepend: site.baseurl }}" type="text/css">
	<link rel="stylesheet" href="{{ "/css/ea_palette/icons_ea.css" | prepend: site.baseurl }}" type="text/css">
	<link rel="stylesheet" href="{{ "/css/ea_palette/navbar_ea.css" | prepend: site.baseurl }}" type="text/css">

	<link rel="stylesheet" href="{{ "/css/dguidelines.css" | prepend: site.baseurl }}" type="text/css">

	<link href="{{ "/assets/jesl/jesl.min.css" | prepend: site.baseurl }}" rel="stylesheet" media="screen" type="text/css">

	<link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
